body {
    padding-top: 40px;
}

a:hover {
    cursor: pointer;
}

h4 {
    font-weight: normal;
    color: #AAA;
}

.progress {
    position: relative;
}

.progress .bar {
    position: absolute;
    z-index: 1;
    width: 80%;
}

.progress span {
    position: absolute;
    top: 0;
    z-index: 2;
    color: black; // You might need to change it
    width: 100%;
    text-align: center;
}

.man {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #EEE;
}

#manual-link {
    margin-right: 200px;
}

#ans {
    width: 100%;
    height: 1em;
    padding: 10px;
    font-size: 1.5em;
}

.ans {
    width: 70%;
    background-color: transparent !important;
}

.submit,
.no-content {
    margin-bottom: 10px;
}

#unclear {
    display: none;
    margin-bottom: 10px;
}

#ans-shadow {
    position: absolute;
    z-index: -1;
    display: none;
    color: #C8C8C8;
    background-color: #FFF;
}

.tip {
    color: #BBB;
}

.confirm {
    display: none;
    margin-left: 43%;
}

/* unused styles */
.manual {
    color: #333;
}

.quick-answer {
    display: none;
}

.qa-group {
    margin-bottom: 3px;
}

.autocomplete {
    display: inline;
    margin-left: 30px;
}

.autocomplete .checkbox {
    margin-bottom: 6px;
}

#txt {
    position: absolute;
    width: 45%;
    margin-left: 51%;
    font-size: 12pt;
}

#img {
    position: absolute;
    width: 50%;
}

#img img {
    width: 100%;
    height: auto;
    margin-top: -140px;
}
